* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

main {
	padding: 1rem;
}

.section__header {
	margin-bottom: 2rem;
}

.main__filter--section {
	display: flex;
}

.sidebar__menu {
	flex: 35%;
	padding: 15px 0;
	background-color: #bbb;
}

.sidebar__menu h2 {
	padding-left: 12px;
}

.sidebar__menu input {
	width: 100%;
	padding: 10px;
	font-size: 17px;
	border: 1px solid #ddd;
	margin-top: 1rem;
}

.sidebar__menu input:focus {
	outline: none;
}

.sidebar__menu .menu li a {
	display: block;
	color: black;
	padding: 12px;
	text-decoration: none;
}

.sidebar__menu .menu li a:hover {
	background-color: #eee;
}

.menu__content {
	flex: 65%;
	padding: 15px;
	background-color: #ddd;
}

.menu__content p {
	margin-top: 1rem;
}
