* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow: hidden;
  transition: .4s;
}

nav li {
  padding: 14px 16px;
  text-align: center;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: #818181;
  font-size: 36px;
}

nav li:hover a,
.closeButton:hover {
  color: #f1f1f1;
}

.close {
  text-align: right;
  padding: 40px;
}

.closeButton {
  display: inline-block;
  margin-right: 35px;
  font-size: 60px;
}

button {
  border: none;
  outline: none;
  padding: 14px 32px;
  border-radius: 8px;
  background-color: #818181;
  color: white;
  cursor: pointer;
  font-size: 17px;
}

h2, p {
  margin-bottom: 1rem;
}

.content {
  padding: 2rem;
}